---
import "@fontsource/noto-serif-tc";

export interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style lang="scss" is:global>
  // Using SASS variables,
  // which is staticly replaced at build-time.
  // Use normal CSS variables if implementing dark mode or something
  // that needs dynamic themes.

  $text: #251d09;
  $background: #fcf9f3;
  $accent: #a4b686;
  $primary: #dfbf6d;
  $secondary: #ede6d4;

  $smaller-text:
    400 20px "Noto Serif TC",
    sans-serif;
  $main-text:
    400 16px "Noto Serif TC",
    sans-serif;
  $main-bold:
    700 16px "Noto Serif TC",
    sans-serif;
  $subtitle:
    400 24px "Noto Serif TC",
    sans-serif;
  $subtitle-bold:
    700 24px "Noto Serif TC",
    sans-serif;
  $section-title:
    700 32px "Noto Serif TC",
    sans-serif;
  $page-title:
    700 64px "Noto Serif TC",
    sans-serif;

  :root {
    color: $text;
    background-color: $background;
    font: $main-text;
  }
</style>
