---
import Icon from "../Icon.astro";
---

<div class="16">
  <div class="frame-15">
    <Icon icon="mdi:fountain-pen-tip" width="32" height="32" />
    <div class="17">秘書處</div>
  </div>
  <div class="18">
    襄理會長處理行政事務，綜理日常行政事務、交接傳承、常務人員之招募、文件之整理與建檔、會議記錄之整理。
  </div>
</div>
<div class="19">
  <div class="20">
    <Icon icon="mdi:volleyball" width="32" height="32" />
    <div class="17">活動部</div>
  </div>
  <div class="20">
    <Icon icon="mdi:account-group" width="32" height="32" />
    <div class="17">公共關係部</div>
  </div>
  <div class="20">
    <Icon icon="mdi:currency-usd" width="32" height="32" />
    <div class="17">財政部</div>
  </div>
  <div class="20">
    <Icon icon="mdi:text-box-multiple" width="32" height="32" />
    <div class="17">主計處</div>
  </div>
  <div class="20">
    <Icon icon="mdi:bullhorn" width="32" height="32" />
    <div class="17">學生權益部</div>
  </div>
</div>
