---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div>
  <div class="title">{title}</div>
  <div class="underline"></div>
</div>

<style>
  .title {
    color: rgb(var(--text));
    font: var(--section-title);
  }
  .underline {
    margin: -12px 0 0 0;
    background: rgb(var(--accent) / 0.8);
    height: 16px;
  }
</style>
