---
import Icon from "@/components/Icon.astro";
import Layout from "@/layouts/Layout.astro";
import { getPosts } from "@/utils/payload";

const posts = await getPosts();
---

<Layout title="Astroad">
  <main>
    <h1>Astroad</h1>
    <p>
      <Icon icon="mdi:volleyball" width="64" height="64" />
      Astroad is a pre-configured setup for Astro and Payloadcms that makes it
      easy to get started with building your website. With Astroad, you'll have
      a complete development environment that you can run locally using Docker.
      This makes it easy to test and develop your website before deploying it to
      a production environment.
      <br />
       When you're ready to deploy the website on your own server, Astrotus
      comes with a production environment that requires the use of Traefik as a
      reverse proxy. This setup provides a secure and scalable production
      environment for your website.
    </p>
    <h2>Posts</h2>
    <div>
      {
        posts.length > 0 ? (
          posts.map((post) => (
            <a href={`/posts/${post.id}/`}>
              <article>
                <h3 transition:name=`title-${post.id}`>{post.title}</h3>
                {post.publishedDate && (
                  <p>
                    {new Date(post.publishedDate)}
                  </p>
                )}
              </article>
            </a>
          ))
        ) : (
          <p>Add Posts in Payloadcms</p>
        )
      }
    </div>
  </main>
</Layout>
