---
import Icon from "./Icon.astro";
---

<div class="socials">
  <a href="https://www.instagram.com/tnfsa_114th" target="_blank" rel="noopener noreferrer">
    <Icon icon="mdi:instagram" width="32" height="32" />
  </a>
  <a href="https://tellonym.me/tnfshsa114th" target="_blank" rel="noopener noreferrer">
    <Icon icon="arcticons:tellonym" width="32" height="32" />
  </a>
</div>

<style lang="scss">
  .socials {
    display: flex;
    align-content: center;

    a {
      color: rgb(var(--text));
      transition: color ease-out 150ms;

      &:hover {
        color: rgb(var(--accent));
      }
    }
  }
</style>
