@import '~payload/scss';
// reference: https://github.com/payloadcms/payload/blob/main/packages/payload/src/admin/scss/vars.scss

.rti--container {
  --rti-bg: var(--theme-input-bg);
  --rti-border: unset;
  --rti-main: unset;
  // --rti-radius: 0;
  --rti-s: 0;
  --rti-tag: var(--theme-input-bg);
  --rti-tag-remove: var(--theme-error-600);

  @include formInput;
  gap: 0.5rem;
  height: unset;

  .rti--input {
    width: unset !important;
    height: unset !important;
    padding: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
    flex-grow: 1;
  }

  .rti--tag {
    border: 1px solid var(--theme-elevation-150);
    color: var(--theme-elevation-800);
    padding: 0 0.5rem;

    &:hover {
      border-color: var(--theme-elevation-250);
    }

    &:focus,
    &:focus-within,
    &:active {
      border-color: var(--theme-elevation-400);
    }
  }
}
